body {
    color: white;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* filmes */
#filmes-pg {
    width: 70%;
    min-width: 370px; /* esse é o tamanho minimo --> quando ficar menor que 300px ele para */
    padding: 26px 24px 24px 24px;
}

#filmes-pg .card-box:hover {
    box-shadow:  0px 5px 8px 0.025rem #5b3fbf65;
    transition: .3s;
}

#filmes-pg .border-card {
    border-color: #5B3FBF;
}

#filmes-pg .filmes-btn {
    width: min(40%, 125px);
}
/* filmes */

#categoria-form-pg {
    width: 50%;
    min-width: 370px;
    padding: 24px 16px 24px 16px;
}

#perfil-pg {
    width: 40%;
    min-width: 370px;
    padding: 24px 16px 24px 16px;
}

#perfil-pg .avatar {
    background-color: #262626;
    border-radius: 50%; 
    width: 170px;
    height: 170px;
    overflow: hidden;
    position: relative;
}

#login-pg {
    width: 32%;
    min-width: 370px;
    padding: 24px 16px 24px 16px;
}

#login-pg .img-login {
    width: 50%;
}

#home-pg {
    width: 70%;
    min-width: 370px;
    padding: 50px 16px 50px 16px;

}

#login-pg, #home-pg, #filmes-pg, #categoria-form-pg, #perfil-pg {
    margin: 8vh 0 12vh 0;
    background-color: #262626;
    background-image: linear-gradient( 114.1deg,  rgba(38,38,38,1) 53.4%, rgba(56,56,56,1) 100.1% );
    border-radius: 8px;
    box-shadow:  0px 5px 8px 0.025rem #262626a8;
}

.img-home {
    width: 90%;
}

.titulo-home {
    text-align: center;
    color: #5B3FBF;
}

.paragrafo-home {
    color: #ffffff;
    text-align: justify;
    font-size: 17px;
}

.custom-home-container {
    display: flex;
    justify-content: center;
}

.alert-padrao {
    width: 66vw;
}

.border-padrao {
    border: solid 3px;
    border-color: #5B3FBF;
}
.link-padrao {
    text-decoration: none;
    color: #9677D9;
    font-weight: 800;
}
 
.link-padrao:hover {
    transition: .2s;
    color: #5B3FBF;
}

.img-modal {
    width: 50%;
}


/* paginação listar-filmes */
.pageLinkFIlmes {
    color: #fff;
    background-color: #262626;
    border: 1px solid #5B3FBF;
}

.pageLinkFIlmes:hover {
    z-index: 2;
    color: #fff;
    background-color: #9677D9;
    border-color: #9677D9;
}

.pageLinkFIlmes:focus {
    z-index: 3;
    color: #fff;
    background-color: #9677D9;
    box-shadow: 0 0 0 0.25rem #9677d9c7
}
  
.page-item:not(:first-child) .pageLinkFIlmes {
    margin-left: -1px;
}
  
.page-item.active .pageLinkFIlmes {
    z-index: 3;
    color: #fff;
    background-color: #5B3FBF;
    border-color: #5B3FBF;
}

.page-item.active:hover .pageLinkFIlmes {
    z-index: 2;
    color: #fff;
    background-color: #9677D9;
    border-color: #9677D9;
}

.page-item.disabled .pageLinkFIlmes {
    color: #6c757d;
    pointer-events: none;
    background-color: #262626;
    border-color: #5B3FBF;
}
/* paginação listar-filmes */


/* footer */
.rodape-bg {
    background-color: #262626;
    background-image: linear-gradient( 114.1deg,  rgba(38,38,38,1) 53.4%, rgba(56,56,56,1) 100.1% );
}
/* footer */


/* ----------- MENU ------------- */
/* Buttons nav */
.btn-menu {
    color: #fff;
    background-color: #5B3FBF;
    border-color: #5B3FBF;
}
.btn-menu:hover {
    color: #fff;
    background-color: #9677D9;
    border-color: #9677D9;  
}

.btn-check:focus + .btn-menu, .btn-menu:focus {
    color: #fff;
    background-color: #9677D9;
    border-color: #9677D9;
    box-shadow: 0 0 0 0.25rem #9677d9c7
}

.btn-check:checked + .btn-menu, .btn-check:active + .btn-menu, .btn-menu:active, .btn-menu.active, .show > .btn-menu.dropdown-toggle {
    color: #fff;
    background-color: #9677D9;
    border-color: #5B3FBF;
}

.btn-check:checked + .btn-menu:focus, .btn-check:active + .btn-menu:focus, .btn-menu:active:focus, .btn-menu.active:focus, .show > .btn-menu.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #5b40f3c2;
}

.btn-menu:disabled, .btn-menu.disabled {
    color: #fff;
    background-color: #806aff;
    border-color: #724bff;
}

.btn-drop-center {
    border-radius: 0; 
    padding: 10px;
}

.btn-drop-ini {
    border-radius: 0.2rem 0 0 0.2rem; 
}

.btn-drop-end {
    border-radius: 0 0.2rem 0.2rem 0; 
}
/* Buttons nav */


.nav-title {
    color: #5B3FBF;
    font-weight: bold;
}

.nav-title:hover {
    text-decoration: underline;
}

.nav-bg {
    background-color: #262626;
    background-image: linear-gradient( 114.1deg,  rgba(38,38,38,1) 53.4%, rgba(56,56,56,1) 100.1% );
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff; 
}


/* dropdown MENU */
.dropdown-menu-dark-padrao {
    color: #dee2e6;
    background-color: #3a3a3a;
    background-image: linear-gradient( 114.1deg,  rgba(38, 38, 38, 0.527) 53.4%, rgba(56,56,56,1) 100.1% );
    border-color: rgba(0, 0, 0, 0.15);
  }

.dropdown-item-padrao, .dropdown-item-padrao-sair {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-padrao:hover, .dropdown-item-padrao:focus {
    color: #fff;
    background-color: #5B3FBF;
}

.dropdown-item-padrao.active, .dropdown-item-padrao:active {
    color: #fff;
    text-decoration: none;
    background-color: #9677D9;
}

.dropdown-item-padrao-sair:hover, .dropdown-item-padrao-sair:focus {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.dropdown-item-padrao-sair.active, .dropdown-item-padrao-sair:active {
    color: #fff;
    text-decoration: none;
    background-color: #bb2d3b;
    border-color: #b02a37;
}

.dropdown-item-padrao.disabled, .dropdown-item-padrao:disabled {
    color: #adb5bd;
    pointer-events: none;
    background-color: transparent;
}
/* dropdown MENU */
/* ----------- MENU ------------- */


@media (max-width: 800px) { /* dispositivos moveis */
    .alert-padrao {
        width: 86vw;
    }

    #login-pg, #home-pg, #filmes-pg, #categoria-form-pg, #perfil-pg {
        width: 90vw;
        margin: 8vh 0 11vh 0;
    }
}